body {
    background-image: linear-gradient(maroon, gray);
    height: 700px;
}

#logo {
    position: relative;
    left: 0%;
}

h1 {
    text-align: center;
}

#desc {
    text-align: center;
}

#svg {
    margin-left:auto;
    margin-right:auto;
    z-index: -1;
    position: relative;
}

.botcon {
    text-align: center;
    width: 100%;
    height: 40px;

    position: absolute;
    bottom: 0%;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
}